body {
    background: #303030;
    color: #EEE;
    padding: 10px;
    font-family: 'Oswald', 'Berlin Sans', sans-serif;
    font-size: 16pt;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

ul.messages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

ul.messages li {
    list-style-type: none;
    background: #666;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

ul.recorders button {
    background: none;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

ul.recorders button:hover {
    cursor: pointer;
}
