body {
    background: #303030;
    color: #e0e0e0;
    padding: 10px;
    font-family: 'Oswald', 'Berlin Sans', sans-serif;
    font-size: 200%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.1s;
}

@keyframes fadeInOpacity {
    0% {
	opacity: 0;
    }
    100% {
	opacity: 1;
    }
}

ul.messages, ul.recorders, ul.options {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

ul.recorders {
   align-items: center;
}

ul.messages li, ul.recorders li, ul.options li {
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

ul.messages li {
    display: inline-block;
    border: 3px solid #111;
    background: none;
}

ul.options li {
    display: inline-block;
    background: #666;
}

ul.options input {
    display: block;
    width: 530px;
    font-size: 100%;
    background: none;
    color: #e0e0e0;
    border: 2px #111 solid;
    border-radius: 10px;
}

ul.options li.positive {
    background: #669;
}

ul.options li.negative {
    background: #696;
}

ul.options li:hover {
    cursor: pointer;
}

ul.recorders li {
    display: inline-block;
    background: none;
}

ul.recorders li:hover {
    cursor: pointer;
}
